/* Coolors Exported Palette - coolors.co/fbfef9-0c6291-ca3c25-7a7d7d-565254 */

$background: hsla(201%, 85%, 31%, 1);

$color_egg: hsla(198%, 63%, 67%, 1);
$color_green: hsla(168%, 77%, 36%, 1);
$color_white: hsla(348%, 45%, 98%, 1);
$color_flock: hsla(219%, 17%, 84%, 1);

$color_facebook: #3B5998;